.circle-icon {
  width: 40px;
  height: 40px;
  background-color: $poulpe-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  &:hover {
    background-color: darken($poulpe-blue, 5%);
  }
}