.contact-form-container {
  width: 30%;
  margin: auto; 
  border: 2px solid white;
  padding: 30px;
  border-radius: 4px;
  input[type="email"], input[type="text"] {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: white;
    height: 50px;
    border-radius: 50px;
    padding-left: 24px;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  textarea {
    height: 120px;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: white;
    border-radius: 10px;
    padding-left: 24px;
    resize: none;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  input[type='submit']:focus {
    outline: none;
    box-shadow: none;
  }
  @media (max-width: $screen-lg) {
    width: 50%;
  }  
  @media (max-width: $screen-sm) {
    width: 60%;
  }
  @media (max-width: $screen-xs) {
    width: 100%;
    padding: 20px;
  }
}