.project-description {
  h1 {
    font-style: italic;
    text-transform: uppercase;
  }
  p {
    margin-bottom: 30px;
  }
  a {
    color: $poulpe-black;
    font-weight: bolder;
    opacity: 0.5;
    transition: all 0.3s ease;
    &:hover {
      opacity: 1;
    }
  }
}
.project-category {
  font-family: $header-font;
  font-style: italic;
}
.project-credits {
  margin: 0;
  font-size: 12px;
  a {
    color: $poulpe-black;
    opacity: 0.5;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
      opacity: 1;
    }
  }
  span {
    color: $poulpe-black;
    opacity: 0.5;
  }
}
.project-images {
  margin-top: 30px;
}
.project-image {
  margin: auto;
  margin-bottom: 10px;
}
.portfolio-container {
  margin-bottom: 30px;
}