.project-description {
  h1 {
    font-style: italic;
    text-transform: uppercase;
  }
  h2 {
    font-style: italic;
    font-size: 24px;
    margin-bottom: 0;
  }
  a {
    color: $poulpe-orange;
    font-weight: bolder;
    transition: all 0.3s ease;
    &:hover {
      opacity: 0.5;
    }
  }
}
.project-category {
  font-family: $header-font;
  font-style: italic;
}

// .project-images {
//   margin-top: 10px;
// }
.project-image {
  margin: auto;
  margin-bottom: 10px;
}

.project-infos {
  font-family: amiri;
  font-style: italic;
  display: flex;
  padding: 15px 0;
  a {
    color: $poulpe-orange;
    transition: all 0.3s ease;
    &:hover {
      opacity: 0.5;
    }
  }
}
.project-info {
  padding-right: 15px;
  padding-left: 15px;
  border-right: 1px solid $gray-light;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    border-right: none;
  }
  p {
    margin-bottom: 0;
  }
}