.agence{
  background-color: #f1f1f1;
  hr {
    border-top: 1px solid #d8d8d8;
  }
  h2 {
    font-size: 24px;
    font-style: italic;
  }
}
.agency-content {
  margin-top: 50px;
}

.founders {
  margin: 35px 0;
  .line {
    margin-bottom: 25px;
  }
}

.founder {
  display: flex;
}

.founder-image {
  flex: 0 0 50%;
  img {
    width: 100%;
  }
}

.founder-bio {
  flex: 0 0 50%;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  h3 {
    margin-top: 0;
    font-style: italic;
  }
}

.contact-information {
  margin-top:15px;
  display:flex;
  a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-right:10px;
    &:hover {
      .circle-icon {
        background-color: darken($poulpe-blue, 5%);
      }
    }
  }
}

.agency-intro {
  padding: 70px 0 40px 0;
  h1 {
    font-style: italic;
    margin: 0;
    font-size: 40px;
  }
  p {
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 1.8;
  }
}


.icon-container {
  a {
    color: $poulpe-black;
    font-size: 40px;
    margin: 0 10px;
    transition: all 0.3s ease;
    &:hover {
      color: $poulpe-orange
    }
  }
}


.services-container {
  background: white;
  padding: 50px 0;
}

.services {
  display: flex;
  justify-content: space-between;
  .service-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 46%;
  }
  h3 {
    font-style: italic;
    font-size: 18px;
    margin-bottom: 0;
  }
}
.service {
  margin: 20px 0;
  img {
    width: 50px;
  }
}

.reviews-container {
  min-height: 400px;
  background: $poulpe-blue;
  padding-top: 40px;
  .clients {
    margin: 30px 0;
  }
  h2 {
    margin-top: 0;
  }
}

.review-tab {
  text-transform: uppercase;
  margin: 0 5px;
  color: $poulpe-black;
  &.active {
    padding-bottom: 5px;
    border-bottom: 2px solid black;
  }
  &:hover {
    color: $poulpe-black;
    font-weight: bolder;
    text-decoration: none;
  }
  &:focus {
    color: $poulpe-black;
    text-decoration: none;
  }
}

.review-container {
  display: none;
  &.active {
    display: inherit;
  }
  svg {
    margin-bottom: 20px;
  }
  #quote-path {
    fill: white;
    opacity: 0.6;
  }
  span {
    font-family: $header-font;
    font-size: 18px;
    font-style: italic;
  }
  a {
    color: $poulpe-black;
    font-weight: bolder;
    transition: all 0.3s ease;
    &:hover {
      text-decoration: underline;
    }
  }
}