.agency-content {
  margin-top: 30px;
}
.agency-intro {
  background: #282828;
  color: white;
  padding: 40px;
  margin-bottom: 10px;
  @media (max-width: $screen-md) {
    margin-bottom: 0;
  }
  @media (max-width: $screen-xs) {
    padding: 20px;
  }
}
.agency-intro-content {
  width: 65%;
  margin: auto;
  h1 {
    font-style: italic;
    margin: 0;
  }
  p {
    margin: 0;
  }
  @media (max-width: $screen-xs) {
    width: 100%;
  }
}

.services {
  h2 {
    font-size: 22px;
    margin: 0;
    font-style: italic;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.icon-container {
  a {
    color: $poulpe-black;
    font-size: 40px;
    margin: 0 10px;
    transition: all 0.3s ease;
    &:hover {
      color: $poulpe-orange
    }
  }
}

.review-container {
  padding: 40px 20px;
  color: white;
  svg {
    margin-bottom: 20px;
  }
  #quote-path {
    fill: white;
    opacity: 0.6;
  }
  span {
    font-family: $header-font;
    font-size: 18px;
    font-style: italic;
  }
  a {
    color: white;
    font-weight: bolder;
    opacity: 0.6;
    transition: all 0.3s ease;
    &:hover {
      opacity:1;
    }
  }
  &-black {
    color: $poulpe-black;
    #quote-path {
      fill: $poulpe-black;
      opacity: 0.3;
    }
    a {
      color: $poulpe-black;
    }
  }
}