.discover-more {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	a {
		color: $poulpe-black;
		font-size: 30px;
	}
	p {
		margin-bottom: 0;
	}
}

.waiting-page {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	img {
		width: 200px
	}
	h1 {
		font-style: italic;
	}
}