.discover-more {
	padding-top: 20px;
	a {
		color: $poulpe-black;
		font-size: 30px;
	}
	p {
		margin-bottom: 0;
	}
}

.waiting-page {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	img {
		width: 200px
	}
	h1 {
		font-style: italic;
	}
}

.whishes {
	color: white;
	padding: 20px 0;
	text-align: center;
	a {
		color: white;
		font-weight: bolder;
		text-decoration: underline;
	}
	span {
		margin-left: 20px;
	}
}