<div class="text-center">
  <div class="live-feed insta-feed"></div>
  <div class="live-feed hidden-xs">
    <% data.images.each do |image| %>
      <div class="insta-image">
        <%= image_tag image.url, class: "insta-image" %>
      </div>
    <% end %>
  </div>
</div>


