<div class="banner">
  <div class="banner-pattern" style='background-image: url(<%= image_path "motif-blue.png" %> );'>
  </div>
  <div class="banner-work" style="background-image: url(<%= image_path data.portfolio.values.first.img_thumbnail %> ); ">
  </div>
</div>