<div class="banner">
  <div class="banner-pattern" style='background-image: url(<%= image_path "full-motif-#{color}.jpg" %> );'>
  </div>
  <div class="banner-work" style="background-image: url(<%= image_path "workplace.jpg" %> ); ">
  </div>
</div>