<div class="banner">
  <div class="banner-pattern" style="background-image: url(<%= image_path 'motif1.png' %> ); ">
    <div class="banner-content">
      <h1>
        Agence<br>
        Digitale<br>
        Agile
      </h1>
      <p>
        Bit faciis veliquis si tem aut voluptas it qui conse quiam fuga. Pisit es as comnis aliat at. Occum rem re as vollabo repudic aborem fugia nobit mi, intib
        cus as dolum inimo eosaes dole.
      </p>
    </div>
  </div>
  <div class="banner-work" style="background-image: url(<%= image_path 'mamagoto-4.jpg' %> ); ">
    
  </div>
</div>

<div class="discover-more text-center">
  <div class="discover-more-content">
    <p>Découvrez nos projets</p>
    <div class="arrow-container">
      <a href="#work-container">
        <i class="fa fa-angle-down"></i>
      </a>
    </div>
  </div>
</div>

<div class="poulpe-container">

  <div id="work-container">
    <% data.portfolio.each do |name, project| %>
      <div class="project-container">
        <% link_to "/work/#{name}.html" do %>
          <%= image_tag project.img_thumbnail %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>