<div class="waiting-home">
	<div class="home-content">
	  <h1>Poulpe. <br class="visible-xs"> Agence digitale agile.</h1>
	  <p>
	  	Notre site est actuellement en construction. <%= mail_to "hello@poulpe.co", "N'hésitez pas à nous contacter pour toute question ou demande." %> 
	  </p>
  </div>
</div>