<div class="waiting-page text-center">
  <div class="content">
    <%= image_tag "logo-#{color}.png" %>
    <h1>Agence de création digitale.</h1>
    <p>Notre mission ? Créer la meilleure expérience digitale pour votre marque et votre cible.</p>
    <p>- WORK IN PROGRESS -</p>
  </div>
</div>