
<div class="full-height-container">
  <div class="poulpe-container">
    <h1>Les playlists</h1>
    <div class="playlists-container">
      <div class="playlist">
        <p><span class="text-bold">#1 - WOMENS</span> <span class="date">08.03.19</span></p>
        <iframe src="https://open.spotify.com/embed/user/v6m6kbjtale5dr7nt7qn1zna2/playlist/5KTF6du5t6GS1IKFQOd0kj" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <div class="playlist">
        <p><span class="text-bold">#2 - SPRING</span> <span class="date">20.03.19</span></p>
        <iframe src="https://open.spotify.com/embed/user/v6m6kbjtale5dr7nt7qn1zna2/playlist/2nzV06QUOEFje5irVBaxm5" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <div class="playlist">
        <p><span class="text-bold">#3 - L'AQUARIUM</span> <span class="date">28.03.19</span></p>
        <iframe src="https://open.spotify.com/embed/user/v6m6kbjtale5dr7nt7qn1zna2/playlist/2XCqcULAMh7HHhjj6S85ju" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
    </div>

  </div>
</div>
